body{
    margin:0px;
    overflow-x:hidden;
}
.vertical-align{
    display: flex!important;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.text-center{
    text-align: center;
}
.container{
    overflow: hidden;
    display: flex;
}
.background-image{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.white-font{
    color: white;
}

#contactUs{
    padding: 50px;
    background-image: url(../img/contact.jpeg);
}
input,
textarea,
select{
    display: block;
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    border-radius: 0px;
    border: 1px solid white;
    background: transparent;
    padding: 10px 10px 10px 10px;
    color: white;
}


@media only screen and (min-width: 768px) {
    /* For Tablets and PCs */
 
    /* ContactUs */
    #contactUs .section-body{
        width: 40%;
    }
}